<div class='w-screen h-screen items-center flex justify-center' data-theme='dark'>
  <div class='card w-96 bg-base-100 shadow-xl'>
    <div class='card-body'>
      <h2 class='card-title'>Howdy!</h2>
      <p>This is a test</p>
      <div class='card-actions justify-end'>
        <label class='btn btn-primary' for='welcome-modal'>Click me</label>
      </div>
    </div>
  </div>
</div>

<input type='checkbox' id='welcome-modal' class='modal-toggle' />
<div class='modal'>
  <div class='modal-box relative'>
    <label for='welcome-modal' class='btn btn-sm btn-circle absolute right-2 top-2'>✕</label>
    <h3 class='text-lg font-bold'>Howdy!</h3>
    <p class='py-4'>Welcome to my modal window.</p>
  </div>
</div>
